body {
    background-color: #D7E5F0; 
	font-family: Arial, sans-serif;
}

p {
	font-size: 22px;
	color: brown;
}

h2 {
	color: green;
	font-size: 26px;
}	

#main-title {
	text-align: center;
	font-size: 30px;
	color: #006400;
}

.life-cycle {
	background-color: #FFFFE0;
	padding: 10px;

}	